body{
    font-family:Kanit;
    background-color: #FF8C5E;
    color: #61E8F0; 
}

h1, h2, h3, h4, h5, h6{
    font-family:"Kanit";
    text-align:center;
} 
h1 { 
    font-size:40pt;
}

header {
    text-align:center;
}

#hero, footer {
    color: #61E8F0;
    border: 2px solid #61E8F0;
    background-color: #FF3010;
    text-align:center;
    padding: 10px;
}

#hero img {
    width:300px;
}

#bio {
    text-align:center;
}


    
    
