body{
    font-family:Kanit;
    background-color: #FF8C5E;
    color: #61E8F0; 
}

h1, h2, h3, h4, h5, h6{
    font-family:"Kanit";
    text-align:center;
} 
h1 { 
    font-size:40pt;
}

header {
    text-align:center;
}

#hero, footer {
    color: #61E8F0;
    border: 2px solid #61E8F0;
    background-color: #FF3010;
    text-align:center;
    padding: 10px;
}

/* Hero Section */


#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hobbies */


/* Gallery */

#gallery {
    border: 2px solid #61E8F0;
    margin-bottom:2rem; 
}


#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

/* Literature */
#lit {
    border: 2px solid #61E8F0;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    Max-width: 40rem;  
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */  

#lit div p:first-letter {
    color: red;
    float: left;
    font-size:3em;
}
    


    
