body{
    font-family:Kanit;
    background-color: #D028E0;
    color: #56D7F5; 
}

h1, h2, h3, h4, h5, h6{
    font-family:"Kanit";
    text-align:center;
    font-size:40pt;
} 

h1 { 
    font-size:40pt;
}

h2 {
    margin: .1em;
}

header {
    text-align:center;
}

#hero, footer {
    color: #56D7F5;
    border: 2px solid #56D7F5;
    background-color: #000;
    text-align:center;
    padding: 10px;
}

/* Hero Section */


#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hobbies */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Gallery */

#gallery {
    border: 2px solid #61E8F0;
    margin-bottom:2rem; 
}


#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}


/* Literature */
#lit {
    border: 2px solid #61E8F0;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    Max-width: 40rem;  
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/* Dropcaps */  

#lit div p:first-letter {
    color: red;
    float: left;
    font-size:3em;
}

/* Contact Form */

#formElements {
    display:grid;
    row-gap:.5em;
}

figcaption {
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
margin-left: 1rem;
}

#contact {
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset {
    border: 2x solid #61E8F0;
    margin-top:1em;
    margin-bottom:1em;
    border-radius:2rem;
}

legend {
    background-color: #61E8F0;
    color: white;
    padding:.5em;

}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}
    
#contact ul {
    list-style:none;
    padding:0px;

}

#contact li {
    margin:1rem;
}

#contact button {
    background-color:#61E8F0;
    color: white;
    border: 1px solid #61E8F0;
    max-width:400px;
    width:50%;
    justify-self: center;
}